body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: #404848;
    padding: 40px;
    border-radius: 8px;
}
input{
    padding: 20px;
    font-size: 16px;
    border: none;
}
button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    vertical-align: middle;
}
button:hover{
    background-color: #335599;
}